body {
  color: #555;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  font-style: italic;
  border-bottom: 1px dashed #888;
}

#inner {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;

}

p {
  padding-top: 0.25em;
}

.post-entry {
  padding-top: 1em;
}
.post-entry h3 a {
  font-style: normal;
  border-bottom: none;
}

#top-header {
  background: #424242;
  color: white;
  border-bottom: 1px solid #eee;
  padding: 1em;
}

nav {
  background: #424242;
  color: white;
  padding: 0.25em;
  padding-bottom: 0;
}

nav a {
  color: #EEEEEE;
  font-style: normal;
  border-bottom: none;
}
}


table {
  border: 1px solid black;
}

thead {
  background: #ddd;
}

th {
  border-left: 1px solid #444;
}

tr {
  border: 1px solid #444;
}

td {
  text-align: left!important;
  padding: 0.25em;
  border-left: 1px solid #444;
}

.toc {
  padding: 1em;
  border: 1px solid #ddd;
}

copyright {
  font-size: xx-small;
}

#TOC {
  border: 1px solid black;
  padding: 1em;
  margin-top: 6em;
  background: #DDD;
}
