<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Blogging and Content Management System">
    <meta name="author" content="Andi Altendorfer">

    <title>iBoard</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="row">
          <span class="logo"></span>
        </div>
        <div class="row top-menu">
          <nav role="navigation">
            <ul class="nav nav-pills">
              <li><%= link "Home", to: "/" %></li>
              <li><%= link "ReadMe", to: "/readme" %></li>
              <li><%= link "How To", to: "/howto" %></li>
              <li><%= link "License", to: "/license" %></li>
            </ul>
          </nav>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app").App.run()</script>
  </body>
</html>
