<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Blogging and Content Management System">
    <meta name="author" content="Andi Altendorfer">

    <title>iBoard</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="row">
          <span class="logo"></span>
        </div>
        <div class="row top-menu">
          <nav role="navigation">
            <ul class="nav nav-pills">
              <li><%= link "Home", to: "/" %></li>
              <li><%= link "ReadMe", to: "/md/readme" %></li>
              <li><%= link "How To", to: "/md/howto" %></li>
              <li><%= link "Changelog", to: "/md/changelog" %></li>
              <li><%= link "License", to: "/md/license" %></li>
            </ul>
          </nav>
        </div>
      </header>

      <div id="pjax-container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>


    </div> <!-- /container -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <!-- Load and run Markdown rendering -->
    <script>
      md = require("web/static/js/app");
      md.App.run();
    </script>

    <!-- Initialize PJAX -->
    <script>
      $(function () {
        $(document).pjax("a", "#pjax-container");
      });
    </script>

    <!-- When pjax reloads a snippet it reloads an unrendered html-inner
         and the markdown-app will not be executed, so the tag stays empty.
         It is possible to run the markdown script each time pjax was
         executed.
    -->
    <script>
      $(document).on('pjax:complete', function() {
        md.App.run();
      })
    </script>
  </body>
</html>
