<div id="top-header">
  <div class="pull-right">Last updated at: {{ site.time }}</div>
  <h1>px.iboard.cc</h1>
</div>
<nav>
  <ul class="nav nav-pills">
    <!-- Right Menu Items -->
    <li class="pull-right"><a href="{{ site.baseurl }}/CHANGELOG">CHANGELOG</a></li>
    <li class="pull-right"><a href="{{ site.baseurl }}/LICENSE">LICENSE</a></li>
    <!-- Left Menu Items -->
    <li><a href="{{ site.baseurl }}/">README</a></li>
    <li><a href="{{ site.baseurl }}/posts">POSTS</a></li>
  </ul>
</nav>
