<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ page.title }}</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ site.github.url }}/css/bootstrap.min.css" type="text/css">
      <!-- Custom Fonts 
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
      -->
      <!-- Plugin CSS 
      <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
      -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.github.url }}/css/default.css" type="text/css">
  </head>
  <body id="page-top">
    {{ content }}
    <!-- jQuery -->
    <script src="{{ site.github.url }}/js/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.github.url }}/js/bootstrap.min.js"></script>
    <script src="{{ site.github.url }}/js/default.js"></script>
  </body>
</html>
