<h1><%= @page.title %></h1>
<nav role="navigation" class="options-menu p025">
  <ul class="nav nav-pills">
    <li><%= link "Edit", to: page_path(@conn, :edit, @page) %></li>
    <li><%= link "Back", to: page_path(@conn, :index) %></li>
  </ul>
</nav>
<section id="body"><span class="markdown" text="<%= @page.body %>" /></section>

